.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    animation: 1s ease-out 0s 1 fadeIn;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
    word-wrap: wrap;
    text-align: center;
    
}

.login-form input {
    border: none;
    outline: none;
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 30px;
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
}

.error {
    font-size: 1.3rem;
    color: red;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}



  
